<!DOCTYPE html>
<html class="h-full">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/ac/css/main.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AC App</title>
    <script src="https://kit.fontawesome.com/8ec5d7faa2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/ac/scripts/script.js" async></script>
</head>

<body class="h-full">
    <div class="bg-gray-900 min-h-full">

        <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-gray-900">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <div class="w-full block w-auto" id="navbar-default">
                    <ul
                        class="flex flex-row mt-0 text-sm font-medium border-0 bg-gray-900">
                        <li class="m-3">
                            <a href="./"
                                class="block bg-transparent text-blue-700 hover:text-gray-200 p-0"
                                aria-current="page"><i class="fa-solid fa-house text-3xl"></i></a>
                        </li>
                        <li class="m-3">
                            <a href="./history"
                                class="block bg-transparent text-blue-700  hover:text-gray-200 p-0"
                                aria-current="page"><i class="fa-solid fa-clock-rotate-left text-3xl"></i></a>
                        </li>
                        <li class="m-3">
                            <a class="logout-btn block bg-transparent text-blue-700  hover:text-gray-200 p-0"
                                aria-current="page"><i class="fa-sharp fa-solid fa-right-from-bracket text-3xl"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="mx-auto bg-gray-900">
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
        {% endblock  %}
    </div>
    <script src="/ac/scripts/flowbite.min.js"></script>
</body>
{% block post_body %}{% endblock %}

</html>
