{% extends "base.html" %}
{% block content %}

<div id="test" class="modal-content-container">
</div>



{% endblock %}
{% block footer %}
<div class="w-full h-16 border-t bg-gray-700 border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-2 mx-auto font-medium">
        <button id="prev-chap-btn" type="button" class="inline-flex flex-col items-center justify-center px-5 border-x hover:bg-gray-800 group border-gray-600">
            <i class="fa-solid fa-backward-step text-gray-400 group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-400 group-hover:text-blue-500">Last Chapter</span>
        </button>
        <button id="next-chap-btn" type="button" class="inline-flex flex-col items-center justify-center px-5 border-x hover:bg-gray-800 group border-gray-600">
            <i class="fa-solid fa-forward-step text-gray-400 group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-400 group-hover:text-blue-500">Next Chapter</span>
        </button>
    </div>
</div>
{% endblock %}
{% block post_body %}
<script>const mangaId = {{ manga_id }}; const isChap = true; const chapterId = {{ chapter_id }}</script>
<script src="/ac/scripts/manga.js" async></script>

{% endblock %}
