{% extends "base.html" %}
{% block content %}
<div class="mb-6 mt-72 w-3/4 flex flex-row mx-auto">
    <div class="search-bar w-full">
        <input type="text" id="search-input"
            class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <ul id="suggestion-form"
            class="w-full text-sm font-medium text-gray-900 bg-white rounded-b-lg border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        </ul>
    </div>
    <div class="ml-4 flex justify-center h-[58px]">
        <div>
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 h-full"
                type="button"><span>Choose a site</span> <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
        </div>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 mx-3">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">ManHuaRen</a>
                </li>
                <li>
                    <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Copy Manga</a>
                </li>
                <li>
                    <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Anime1</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- <div class="ml-4 flex justify-center">
        <div>
            <div class="dropdown relative">
                <a class="dropdown-toggle dropdown-div" href="#" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="site-name">Choose a site</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                        </path>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-div" aria-labelledby="dropdownMenuButton2">
                    <li>
                        <a class="
                      dropdown-item
                      py-2
                      px-4
                      font-normal
                      block
                      w-full
                      whitespace-nowrap
                      bg-transparent
                      text-gray-700
                      hover:bg-gray-100
                      cursor-default
                    ">ManHuaRen</a>
                    </li>
                    <li>
                        <a class="
                      dropdown-item
                      py-2
                      px-4
                      font-normal
                      block
                      w-full
                      whitespace-nowrap
                      bg-transparent
                      text-gray-700
                      hover:bg-gray-100
                      cursor-default
                    ">Copy Manga</a>
                    </li>
                    <li>
                        <a class="
                    dropdown-item
                        py-2
                        px-4
                        font-normal
                        block
                        w-full
                        whitespace-nowrap
                        bg-transparent
                        text-gray-700
                        hover:bg-gray-100
                        cursor-default
                    ">Anime1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</div>

{% endblock %}
{% block post_body %}
<script src="/ac/scripts/index.js" async></script>
{% endblock %}
