<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <h1>Enter your credentials</h1>
      <form action="login" method="post">
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" value="" /><br />
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" value="" /><br />        
        <input type="hidden" id="redirect_url" name="redirect_url" value="{{ redirect_url }}" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
