{% extends "base.html" %}
{% block content %}
<template id="history-card-template">
    <div class="flex justify-center m-2">
        <div class="history-card flex flex-col md:flex-row w-2/3 rounded-lg bg-white shadow-lg cursor-pointer transform transition duration-500 hover:scale-105">
          <img class="h-96 md:h-auto object-cover md:w-72 rounded-t-lg md:rounded-none md:rounded-l-lg overflow-hidden" alt="" />
          <div class="p-6 flex flex-col w-72">
            <h5 class="title text-gray-900 text-3xl font-medium mb-2 truncate"></h5>
            <p class="text-gray-600 text-md">Last Update: <span class="last-update-txt"></span></p>
            <p class="text-gray-600 text-md">Last Read: <span class="last-read-txt"></span></p>
            <p class="text-gray-600 text-md">Status: <span class="status-txt"></span></p>
            <p class="my-2 text-gray-600 text-3xl"><i class="fa-regular fa-heart"></i></p>
          </div>
          <div class="p-2 grow flex justify-end">
            <p class="close-btn text-gray-200 hover:text-gray-800 text-4xl"><i class="fa-solid fa-xmark text-right"></i></p>
          </div>
        </div>
      </div>
</template>
<template id="anime-history-card-template">
  <div class="flex justify-center m-2">
    <div
      class="history-card flex flex-col md:flex-row w-2/3 rounded-lg bg-white shadow-lg cursor-pointer transform transition duration-500 hover:scale-105">
      <div class="p-6 flex flex-col justify-start w-72">
        <h5 class="title text-gray-900 text-3xl font-medium mb-2 truncate"></h5>
        <p class="my-2 text-gray-600 text-3xl"><i class="fa-regular fa-heart"></i></p>
      </div>
      <div class="p-2 grow flex justify-end">
        <p class="close-btn text-gray-200 hover:text-gray-800 text-4xl"><i class="fa-solid fa-xmark text-right"></i></p>
      </div>
    </div>
  </div>
</template>
<div class="history-container">

</div>
{% endblock %}
{% block post_body %}
<script src="/ac/scripts/history.js" async></script>
{% endblock %}
