aiob2==0.8.3
alembic==1.11.3
asyncpg==0.28.0
b2sdk==1.23.0
beautifulsoup4==4.12.2
httpx[socks]==0.24.1
psycopg2-binary==2.9.7
pydantic==2.3.0
pytest==7.4.0
pytest-asyncio==0.21.1
redis==5.0.0
sqlalchemy[asyncio]==2.0.20
